﻿@model IEnumerable<DrivingSchool.Web.Models.Student>

<h2>Student List</h2>

@if (Model.Count() == 0)
{
                <p>No data in the database</p>
}
else
{
                <table border="1">
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.First().FirstName)</th>
                        <th>@Html.DisplayNameFor(m => m.First().LastName)</th>
                        <th>Datasheet</th>
                        <th>Delete</th>
                        <th>Modify</th>
                    </tr>
                    @foreach (var stud in Model)
                    {
                <tr>
                    <td>@Html.DisplayFor(m => stud.FirstName)</td>
                    <td>@Html.DisplayFor(m => stud.LastName)</td>
                    <td>@Html.ActionLink("{SHOW}", "Details", new { id = stud.StudentId }) </td>
                    <td>@Html.ActionLink("{DEL}", "Remove", new { id = stud.StudentId }) </td>
                    <td>@Html.ActionLink("{EDIT}", "Edit", new { id = stud.StudentId })</td>
                </tr>
                    }
                </table>
}
