﻿@model DrivingSchool.Web.Models.StudentListViewModel

@{
    ViewData["Title"] = "StudentIndex";
}

<h2>Student Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("StudentEdit", Model.EditedStudent)

@await Html.PartialAsync("StudentList", Model.StudentList)