﻿@model DrivingSchool.Web.Models.Student

<h2>Student Edit</h2>

@using (Html.BeginForm("Edit", "Student"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.StudentId)

    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.FirstName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.FirstName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.LastName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.LastName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.DateOfBirth)</div>
    <div class="editor-field">@Html.EditorFor(m => m.DateOfBirth)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Sex)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Sex)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>

    <div class="editor-label">@Html.LabelFor(m => m.PhoneNumber)</div>
    <div class="editor-field">@Html.EditorFor(m => m.PhoneNumber)</div>

    <input type="submit" value="SEND" />
}